* {
    font-family: "Spectral", serif;
    color: #606c7d;
    background-color: #a3bee6;
    font-size: 20px;
    text-align: center;
}

h {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    background-color: transparent;
}


p {
  text-align: center;
  background-color: transparent;
}


button {
    background-color: #f1f1f1;
    width: 220px;
    height: 300px;
    font-size: 20px;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: #96AFD5;  
}

button:hover {

    animation: hovering 0.7s;
    background-color: #96AFD5;
    color: white;
}

@keyframes hovering {
  from {
    transform: scale(0.85);
  }
  to {
    transform: scale(1);
  }
}

#selena {
  width: 290px;
  height: 250px;
}

img {
    width: 80%;
    height: 80%;
    margin: 10px;
    background-color: transparent;
}
a {
    background-color: transparent;
}

footer {
    background-color: #f1f1f1;
    color: #606c7d;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.intro-blurb {
    padding: 20px;
    align-items: center;
    justify-content: center;
    columns: 2;
    column-gap: 20px;
}


.pic {
    padding: 35px;
    padding-right: 400px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    align-self: left;
}

.spotify {
    width: 700px;
    height: 350px;
    background-color: #f1f1f1;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: #96AFD5; 
}
.resources {
  
}
.resources:hover {
    color: #96AFD5;
    text-decoration: underline;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Keyword {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}
.units {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
.accordion {
  width: 100%;
}

.accordion-header:hover {
  background-color: #96AFD5;
  color: white;
  animation: fadeIn 1s; 
}
.accordion-item {
  margin-bottom: 5px;
}

.accordion-header {
    font-alighn: left;
  background-color:#f1f1f1;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.accordion-content {
  /* display: block; */
  /* max-height: 1000px; */
  transition: max-height 0.6s ease;
  padding: 10px;
  overflow: hidden;
  background-color: #96afd5;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 0;
  display: none;
}

.accordion-content.active {
  display: block;
  max-height: 1000px;
}

.notebooks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  column-gap: 10px;
}

.star {
    width: 10px;
    height: 10px;
}

.socials {
    background-color: transparent;
}




#random-fact {
    font-size: 18px;
    font-style: italic;
    color: #606c7d;
    height: 50px;
}

#textbox {
  background-color: #f1f1f1;
  border-radius: 5px;
}